<div>
    <h1>Basics</h1>
    <div>Name</div>
    <div>Type</div>
    <select>
        <option value="">Any</option>
        <option value="Weapon">Weapon</option>
        <option value="Helm">Helm</option>
        <option value="Chest">Chest</option>
        <option value="Belt">Belt</option>
        <option value="Ring">Ring</option>
        <option value="Gloves">Gloves</option>
        <option value="Boots">Boots</option>
        <option value="Off-Hand">Off-Hand</option>
        <option value="Amulet">Amulet</option>
    </select>
    <div>Rarity</div>
    <select>
        <option value="">Any</option>
        <option value="Normal">Normal</option>
        <option value="Uncommon">Uncommon</option>
        <option value="Rare">Rare</option>
        <option value="Legendary">Legendary</option>
    </select>
    <div>Price</div>
    <div>Date Posted</div>
</div>